<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="icon">⚾</div>
        <h1>Select Your Favorite Team</h1>
        <div class="instructions">
            <p>Choose your team from the list below and click <strong>Submit</strong> to continue.</p>
            <p>If you want to compare two players career <strong>batting</strong> stats, please click the <strong>Compare Two Players</strong>
                button below.</p>
        </div>
        <form method="POST" action="/">
            <label for="team">Choose a Team:</label>
            <select name="team" id="team">
                <option value="">--Select a Team--</option>
                {% for option in tmOptions %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
        <a href="/comparePlayers" class="back-button">Compare two players!</a>
    </div>
</body>
</html>