{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="icon">⚾</div>
        {% if title %}
            <h1>{{ title }} - Database Project</h1>
        {% else %}
            <h1>Welcome to Our Database Project</h1>
        {% endif %}

        <h2>Hi, {{ current_user.username }}!</h2>
        <div class="instructions">
            <p>Welcome to our baseball database project! Here's what you can do:</p>
            <ul>
                <li>
                    <strong>Team Summary:</strong> View a comprehensive overview of baseball teams for a given year with things such as player and team stats and a depth chart.
                </li>
                <li>
                    <strong>Compare Batter Stats:</strong> Analyze and compare the batting statistics of two players, including hits, home runs, RBIs, averages, and WAR (Wins Above Replacement).
                </li>
                <li>
                    <strong>View Parks:</strong> Explore the locations of parks on an interactive map.
                </li>
            </ul>
        </div>

        <div class="nav-links">
            <a href="{{ url_for('team_selection') }}" class="back-button">Team Summary</a>
            <a href="{{ url_for('comparePlayers') }}" class="back-button">Compare Batters</a>
            <a href="{{ url_for('view_parks') }}" class="back-button">View Parks</a>
        </div>
    </div>
{% endblock %}