{% extends "base.html" %}

{% block content %}
    <head>
        {% if title %}
            <title>{{ title }} - database project</title>
        {% else %}
            <title>Welcome to out database project</title>
        {% endif %}
    </head>
    <body>
        <h1>Hi, {{ current_user.username }}!</h1>
        <h1>Welcome to out database project!</h1>
        <h1>Please navigate to the site of your choice:</h1>
        <a href="{{ url_for('team_selection') }}">Team Summary</a>
        <br/>
        <a href="{{ url_for('comparePlayers') }}">Comparing Players</a>
        <br/>
        <a href="/">Depth Chart</a>


    </body>
{% endblock %}